---
name: github pages
on:
  push:
    branches:
      - master
    paths-ignore: ['paper/**', 'README.md', 'LICENSE.txt']
  pull_request:
    branches:
      - master
    paths-ignore: ['paper/**', 'README.md', 'LICENSE.txt']
jobs:
  make:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - run: mvn clean install
      - run: mkdir gh-pages
      - run: cp -r target/eo-after/. gh-pages
      - uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          branch: gh-pages
          folder: gh-pages
